:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #121212;
    --bg-secondary: #0B132B;
    --accent: #e1a87a;
    --transition-speed: 600ms;
    --navbar-bg: #1D1D1F;
    --content-bg-light: #FBFEF9;
    --content-bg-dark: #f0f0f0;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background-color: #fbfbfb;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

h1 {
    font-family: "Vollkorn";
    font-size: 4em;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--accent);
}